html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height:100%;
}

*, *:before, *:after {
    margin:0;
    padding:0;
    box-sizing: inherit;
    /* padding etc indgår i height & width i alle elementer*/
}

.clear {clear:both;}

body {
    background-color: #f5f4f4;
    font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
    font-size:16px;
}

#sortBox {
    text-align: center;
    background-color: black;
    max-height: 200px;
}

#flugtLogo {
    margin: 30px;
    height: 70px;
}

.login {
    margin:30% auto;
    width:80%;
}

@media only screen and (min-width: 700px) {
    .login {
        margin:10% auto;
    }
}

.inputbokse {
    width: 100%;
    margin:2% 0;
    padding:2% 3%;
    border-radius: 3px;
    border-style: hidden;
}

.inputbokse::placeholder {
    font-style: italic;
}

.groenknap {
    padding:2% 5%;
    border-radius: 3px;
    border-style: hidden;
    background-color: #3c9073;
    color: white;
    float: right;
    margin: 0.5% 0;
}

footer {
    margin:2%;
    height:30%;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    background-image:url('img/pattern.png');
    background-position: top left;
    background-size: 200%;
    z-index: -1;
}

@media only screen and (min-width: 700px) {
    footer {
        background-size:100%;
    }
}

p {
    text-align: justify;
    margin:2% 3%;
}

.tekstboks {
    padding-top:2%;
    padding-bottom:2%;
    visibility: hidden;
}

.search .tekstboks {
    border-radius: 3px;
}


/* Navigationsbar */
.bar {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height:100px;
}

.bar > div, .bar > p {
    color:#B86427;
}

.bar > img {
    flex:none;
    display:block;
    margin:0 auto;
    height:55px;
}

.top {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

.top img {
    border:1px solid transparent;
    border-radius: 50%;
}

.bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}

/* Versioner */

.dark {
    background-color:black;
}

.light {
    background-color:#f6f6f6;
}


/* Kort over lejren */
.map {
    position:absolute;
    background-image: url('img/map.png');
    background-position: center;
    top:100px;
    left:0;
    right:0;
    bottom:100px;
}

/* Elementer på kort */

.punkt {
    height:65px;
}

#kirke {
    position:absolute;
    left:10%;
    right:10%;
    top:10%;
}

#kloak {
    position:absolute;
    left:40%;
    right:40%;
    top:50%;
}

/* Vinduer */

.window {
    text-align: left;
    background-color:#f5f4f4;
    position:absolute;
    border-radius: 3px;
    max-width:95%;
    margin:2%;
    display:none;
    overflow-y: scroll;
    max-height:95%;
}

.placeholder {
    display:block;
    font-style: italic;
    padding:2% 3%;
}

.close {
    position:absolute;
    right:0;
    margin:15px 3%;
    z-index:2;
}

.searchclose {
    position:absolute;
    right:0;
    margin:3% 3%;
    line-height:16px;
}


/* Vindue til at hjælpe */

.help {
    padding:10px 20px;
}

.help:after {
    content: '';
    position: absolute;
    bottom:0;
	left: 50%;
	border: 15px solid transparent;
	border-top-color: #f5f4f4;
	border-bottom: 0;
	margin-left:-14px;
	margin-bottom: -14px;
}

.search {
    position:absolute;
    width:95%;
    left:0;
    right:0;
    margin:0 auto;
    bottom:2%;
    display:none;
}

.search > div, .search > input {
    position:relative;
    
}

.search > img {
    position:absolute;
    bottom:2%;
    z-index: 2;
    height:10px;
}

/* Vindue der indeholder informationer */

.info {
    top:2%;
    left:0;
    right:0;
    margin:0 auto;
    width:95%;
}

.info > p, .info > button, .info > div {
    text-align: justify;
    margin:2% 3%;
}

.window h1 {
    padding: 10px 3%;
    float:left;
}

.info > .media {
    position:relative;
    background-color:#333;
    height:150px;
    margin:0;
}

.play {
    background-color:#d1404b;
    position:absolute;
    left:50%;
    top:50%;
    width:60px;
    height:60px;
    margin-top:-30px;
    margin-left:-30px;
    border-radius: 50%;
    color:white;
    font-size:44px;
    text-align: center;
}

.svarmuligheder {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display:none;
}

.svar {
    width:48%;
    border:0;
    padding:3% 2%;
    margin-bottom:3%;
    background-color:#1b768b;
    color:white;
    border-radius: 3px;
    font-weight: 500;
}



/* Vindue til score */

#gruppeliste #you {
    background-color:#f2f4ba;
}

#gruppeliste {
    list-style-type: none;
    border-radius: 3px;
    margin-bottom: 3px;
}

#gruppeliste li {
    display: flex;
    width:100%;
}

#gruppeliste li span {
    width:85%;
    padding:2%;
}

#gruppeliste li span:first-child {
    width:7.5%;
}

#gruppeliste li span:last-child {
    text-align: right;
    width:30%;
}

/* Søgefunktion */

#searchResult {
    visibility: hidden;
    list-style-type: none;
}