html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height:100%;
}

*, *:before, *:after {
    margin:0;
    padding:0;
    box-sizing: inherit;
    /* margin & padding indgår i height & width i alle elementer*/
}

.clear {clear:both;}

body {
    background-color: #f5f4f4;
    font-family: 'Proxima Nova';
}

#sortBox {
    text-align: center;
    background-color: black;
    max-height: 200px;
}

#flugtLogo {
    margin: 30px;
    height: 70px;
}

.login {
    margin:30% auto;
    width:80%;
}

@media only screen and (min-width: 700px) {
    .login {
        margin:10% auto;
    }
}

.inputbokse {
    width: 100%;
    margin:1.5% 0;
    padding:2% 3%;
    border-radius: 3px;
    border-style: hidden;
}

.inputbokse::placeholder {
    font-style: italic;
}

.groenknap {
    padding:2% 5%;
    border-radius: 3px;
    border-style: hidden;
    background-color: #3c9073;
    color: white;
    float: right;
    margin: 0.5% 0;
}

footer {
    margin:2%;
    height:30%;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    background-image:url('img/pattern.png');
    background-position: top left;
    background-size: 200%;
    z-index: -1;
}

@media only screen and (min-width: 700px) {
    footer {
        background-size:100%;
    }
}




.bar {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height:100px;
}

.bar > div, .bar > p {
    color:#B86427;
}

.bar > img {
    flex:none;
    display:block;
    margin:0 auto;
    height:55px;
}

.dark {
    background-color:black;
}

.light {
    background-color:#f6f6f6;
}

.map {
    position:absolute;
    background-image: url('img/map.png');
    top:100px;
    left:0;
    right:0;
    bottom:100px;
}

.top {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

.bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}
